### Essentially, Identifying more satellite* halos for analysis.

* Satellites characterized by z0haloid index. (See `particletracking.py` and `bulkprocessing`.)

* Using 200 bkgdens sims.

* `mass` == `Sat_Mvir` virial mass as proxy. (Original satellites selected for `mgas` > 2e7 Msol.

* sSFR = SFR/M_* < 10^-11 yr^-1 for quenching.

In [2]:
import pynbody
import pandas as pd
import numpy
import pickle

from compiler import *
from analysis import *

In [70]:
# full path for elena h329 simulation.
path = '/Users/leoglonz/Desktop/Stellar_Feedback_Code/SNeData/timesteps_data/h329.data'

# unpacking all list data into objs and then converting to df.
objs = []
f = open(path, 'rb')
while 1: 
    try: 
        objs.append(pickle.load(f)) 
        
    except EOFError: 
        break 
        
f.close()

sats = pd.DataFrame(objs)

In [71]:
sats.keys()

Index(['time', 't', 'z', 'a', 'haloid', 'z0haloid', 'mstar', 'mgas', 'mass',
       'Rvir', 'gas_rho', 'gas_temp', 'gas_mass', 'gas_r', 'gas_hi',
       'gas_rho_sphere', 'gas_temp_sphere', 'gas_mass_sphere', 'gas_r_sphere',
       'x', 'y', 'sfr', 'Pram', 'Prest', 'v_halo', 'v_halo1', 'v_env',
       'env_rho', 'ratio', 'h1dist', 'h1dist_kpc', 'h1rvir', 'gasfrac',
       'SNHfrac', 'mHI', 'fHI', 'HIratio', 'gtemp', 'inflow_23', 'outflow_23',
       'inflow_temp_23', 'outflow_temp_23', 'inflow_91', 'outflow_91',
       'inflow_temp_91', 'outflow_temp_91'],
      dtype='object')

In [107]:
quench = []
ssfr = np.array(sats['sfr']/sats['mstar'])
mgas = np.array(sats['mgas'])

# filtering for quenched satellites used in original analysis.
for i in range(len(ssfr)):
    if (ssfr[i] < 10e-11) & (mgas[i] > 2e7):
        quench.append(True)
    else:
        quench.append(False)
        
    
sats['quenched'] = quench

In [109]:
sats[['t','quenched','z0haloid','haloid','mgas']][sats['z0haloid']==133].sort_values(by='t', ascending=False)

             t  quenched  z0haloid  haloid                mgas
6    13.800797     False     133.0   133.0                 0.0
16   13.585307     False     133.0   132.0                 0.0
26   13.262072     False     133.0   132.0                 0.0
36   12.938837     False     133.0   128.0                 0.0
46   12.615601     False     133.0   131.0                 0.0
56   12.292366     False     133.0   129.0                 0.0
66   12.150951     False     133.0   131.0                 0.0
76   11.969131     False     133.0   130.0                 0.0
86   11.645896     False     133.0   125.0                 0.0
96   11.322660     False     133.0   125.0                 0.0
106  10.999425     False     133.0   123.0                 0.0
116  10.767100     False     133.0   117.0                 0.0
125  10.676190     False     133.0   118.0                 0.0
134  10.352954     False     133.0   118.0                 0.0
143  10.029719     False     133.0   114.0                 0.0
152   9.706484     False     133.0   100.0                 0.0
161   9.383249     False     133.0    95.0                 0.0
170   9.060013     False     133.0    95.0                 0.0
179   8.736778     False     133.0    93.0                 0.0
188   8.608831     False     133.0    92.0                 0.0
197   8.413543     False     133.0    92.0                 0.0
206   8.090307     False     133.0    87.0                 0.0
215   7.767072     False     133.0    89.0                 0.0
224   7.443837     False     133.0    84.0                 0.0
233   7.120602     False     133.0    83.0                 0.0
242   7.039793     False     133.0    84.0                 0.0
251   6.797366     False     133.0    83.0                 0.0
260   6.474131     False     133.0    78.0                 0.0
269   6.150896     False     133.0    69.0                 0.0
278   5.868065     False     133.0    64.0                 0.0
287   5.827660     False     133.0    67.0                 0.0
296   5.504425     False     133.0    66.0                 0.0
305   5.181190     False     133.0    54.0   10587358.06521326
314   4.975801      True     133.0    38.0  26001026.514344085
323   4.857955      True     133.0    37.0   32885244.84038293
332   4.534719      True     133.0    32.0  46443843.860570386
341   4.282192      True     133.0    33.0   55774531.20317306
350   4.211484      True     133.0    33.0   58058830.96910875
359   3.888249     False     133.0    33.0    72984714.5694486
368   3.733365      True     133.0    31.0   89857600.94496177
377   3.565013     False     133.0    30.0   98040382.07228906
386   3.288917     False     133.0    27.0  112831470.09656656
395   3.241778     False     133.0    27.0  117565607.85705984
404   2.918543     False     133.0    25.0  132452096.75909674
413   2.622244     False     133.0    27.0  133890347.39053649
422   2.595308      True     133.0    26.0  137107493.96713609
431   2.272072     False     133.0    32.0  166649320.21280557
440   2.154226     False     133.0    33.0  163004477.08588988
449   1.948837     False     133.0    33.0   166992425.2986738
458   1.625602     False     133.0    33.0  122440174.51447593
467   1.544793     False     133.0    38.0   99388002.10309005
476   1.302366     False     133.0    47.0   60391002.61158683
485   1.177786     False     133.0    65.0   29691801.10841846
494   0.979131     False     133.0   130.0   7184355.446769112
503   0.935360     False     133.0   136.0   5673254.854644244
512   0.767008     False     133.0   219.0   768805.5644144064

### Satellites selected from h329 Elena: 11, 40, 103

In [110]:
# full path for Sonia h242 simulation.
path = '/Users/leoglonz/Desktop/Stellar_Feedback_Code/SNeData/timesteps_data/h242.data'

# unpacking all list data into objs and then converting to df.
objs = []
f = open(path, 'rb')
while 1: 
    try: 
        objs.append(pickle.load(f)) 
        
    except EOFError: 
        break 
        
f.close()

sats = pd.DataFrame(objs)

In [111]:
quench = []
ssfr = np.array(sats['sfr']/sats['mstar'])
mgas = np.array(sats['mgas'])

# filtering for quenched satellites used in original analysis.
for i in range(len(ssfr)):
    if (ssfr[i] < 10e-11) & (mgas[i] > 2e7):
        quench.append(True)
    else:
        quench.append(False)
        
    
sats['quenched'] = quench

In [122]:
hid = 44

sats[['t','quenched','z0haloid','haloid','mgas']][sats['z0haloid']==hid].sort_values(by='t', ascending=False)

             t  quenched  z0haloid  haloid                mgas
7    13.800797     False      44.0    44.0                 0.0
24   13.585307     False      44.0    44.0                 0.0
41   13.262072     False      44.0    45.0                 0.0
58   12.938837     False      44.0    48.0                 0.0
75   12.615601     False      44.0    46.0                 0.0
..         ...       ...       ...     ...                 ...
928   0.655896     False      44.0    41.0   45792151.53883799
943   0.642428     False      44.0    40.0  45421214.630362004
958   0.477443     False      44.0    34.0   44448238.72174462
972   0.369698     False      44.0    30.0  32051238.875069574
980   0.332661     False      44.0    28.0  25635688.992714874

[61 rows x 5 columns]

### Satellites selected from h329 Elena: 30, 34, 44,

In [110]:
# full path for Sonia h242 simulation.
path = '/Users/leoglonz/Desktop/Stellar_Feedback_Code/SNeData/timesteps_data/h242.data'

# unpacking all list data into objs and then converting to df.
objs = []
f = open(path, 'rb')
while 1: 
    try: 
        objs.append(pickle.load(f)) 
        
    except EOFError: 
        break 
        
f.close()

sats = pd.DataFrame(objs)

In [111]:
quench = []
ssfr = np.array(sats['sfr']/sats['mstar'])
mgas = np.array(sats['mgas'])

# filtering for quenched satellites used in original analysis.
for i in range(len(ssfr)):
    if (ssfr[i] < 10e-11) & (mgas[i] > 2e7):
        quench.append(True)
    else:
        quench.append(False)
        
    
sats['quenched'] = quench

In [122]:
hid = 44

sats[['t','quenched','z0haloid','haloid','mgas']][sats['z0haloid']==hid].sort_values(by='t', ascending=False)

             t  quenched  z0haloid  haloid                mgas
7    13.800797     False      44.0    44.0                 0.0
24   13.585307     False      44.0    44.0                 0.0
41   13.262072     False      44.0    45.0                 0.0
58   12.938837     False      44.0    48.0                 0.0
75   12.615601     False      44.0    46.0                 0.0
..         ...       ...       ...     ...                 ...
928   0.655896     False      44.0    41.0   45792151.53883799
943   0.642428     False      44.0    40.0  45421214.630362004
958   0.477443     False      44.0    34.0   44448238.72174462
972   0.369698     False      44.0    30.0  32051238.875069574
980   0.332661     False      44.0    28.0  25635688.992714874

[61 rows x 5 columns]

### Satellites selected from h248 Sonia: 30, 34, 44

In [123]:
# full path for Ruth h229 simulation.
path = '/Users/leoglonz/Desktop/Stellar_Feedback_Code/SNeData/timesteps_data/h229.data'

# unpacking all list data into objs and then converting to df.
objs = []
f = open(path, 'rb')
while 1: 
    try: 
        objs.append(pickle.load(f)) 
        
    except EOFError: 
        break 
        
f.close()

sats = pd.DataFrame(objs)

In [134]:
quench = []
ssfr = np.array(sats['sfr']/sats['mstar'])
mgas = np.array(sats['mgas'])

# filtering for quenched satellites used in original analysis.
for i in range(len(ssfr)):
    if (ssfr[i] < 10e-11) & (mgas[i] > 2e7):
        quench.append(True)
    else:
        quench.append(False)
        
    
sats['quenched'] = quench

In [143]:
hid = 52

sats[['t','quenched','z0haloid','haloid','mgas']][sats['z0haloid']==hid].sort_values(by='t', ascending=False)

              t  quenched  z0haloid  haloid                mgas
10    13.800797     False      52.0    52.0                 0.0
32    13.585307     False      52.0    52.0                 0.0
54    13.262072     False      52.0    51.0                 0.0
76    12.938837     False      52.0    51.0                 0.0
98    12.615601     False      52.0    51.0                 0.0
...         ...       ...       ...     ...                 ...
1193   0.655896     False      52.0    68.0   32252649.59592828
1213   0.642428     False      52.0    69.0  32682887.905587647
1232   0.477443     False      52.0    33.0   41815623.60946612
1245   0.369698     False      52.0    28.0  27889084.612550206
1253   0.332661     False      52.0    46.0  14077094.989794828

[61 rows x 5 columns]

### Satellites selected from h229 Ruth: 29, 33, 52

In [144]:
# full path for Sandra h148 simulation.
path = '/Users/leoglonz/Desktop/Stellar_Feedback_Code/SNeData/timesteps_data/h148.data'

# unpacking all list data into objs and then converting to df.
objs = []
f = open(path, 'rb')
while 1: 
    try: 
        objs.append(pickle.load(f)) 
        
    except EOFError: 
        break 
        
f.close()

sats = pd.DataFrame(objs)

In [145]:
quench = []
ssfr = np.array(sats['sfr']/sats['mstar'])
mgas = np.array(sats['mgas'])

# filtering for quenched satellites used in original analysis.
for i in range(len(ssfr)):
    if (ssfr[i] < 10e-11) & (mgas[i] > 2e7):
        quench.append(True)
    else:
        quench.append(False)
        
    
sats['quenched'] = quench

In [159]:
hid =58

sats[['t','quenched','z0haloid','haloid','mgas']][sats['z0haloid']==hid].sort_values(by='t', ascending=False)

              t  quenched  z0haloid  haloid                mgas
21    13.800797     False      58.0    58.0                 0.0
72    13.369817     False      58.0    60.0                 0.0
123   12.938837     False      58.0    60.0                 0.0
174   12.507856     False      58.0    60.0                 0.0
225   12.150951     False      58.0    60.0                 0.0
276   12.076876     False      58.0    61.0                 0.0
327   11.645896     False      58.0    63.0                 0.0
377   11.214915     False      58.0    64.0                 0.0
427   10.783935     False      58.0    67.0                 0.0
477   10.767100     False      58.0    66.0                 0.0
527   10.352954     False      58.0    67.0                 0.0
577    9.921974     False      58.0    67.0                 0.0
627    9.490994     False      58.0    69.0                 0.0
677    9.060013     False      58.0    72.0                 0.0
726    8.608831     False      58.0    73.0   561119.3185941986
775    8.198053     False      58.0    72.0   561118.7970372684
824    7.767072     False      58.0    70.0   667285.4042612988
872    7.336092     False      58.0    75.0   561114.1582892066
920    7.039793     False      58.0    77.0   587624.6898121225
968    6.905111     False      58.0    76.0   693699.5634617705
1016   6.474131     False      58.0    79.0  3188642.2158288294
1064   5.868065     False      58.0    82.0  2896987.8705764604
1112   5.181190     False      58.0    96.0  2339526.0355819347
1160   4.750210     False      58.0   101.0  2631347.9543127753
1208   4.319229     False      58.0   107.0  2843389.3852905226
1256   4.282192     False      58.0   105.0   2869876.657446762
1304   3.888249     False      58.0   103.0  3028964.5169178615
1352   3.733365     False      58.0   105.0  2949372.4614664293
1400   3.457268     False      58.0   108.0   3373598.084951994
1448   3.288917     False      58.0   114.0  3665256.3194302144
1496   3.026288     False      58.0   121.0   4063188.493058483
1544   2.925277     False      58.0   122.0   5362535.931846222
1592   2.595308     False      58.0   123.0     8411881.8349409
1640   2.369716     False      58.0   132.0  12805338.064593617
1688   2.164327      True      58.0   135.0  23588880.050619096
1736   1.733347      True      58.0   152.0   39719351.81422545
1784   1.544793      True      58.0   173.0   41990894.14221661
1832   1.302366     False      58.0   171.0   46547025.59143813
1879   1.177786      True      58.0   176.0   41246503.36923471
1926   0.935360      True      58.0   230.0  28759139.257039715
1971   0.767008     False      58.0   262.0  22587696.331248052
2013   0.642428     False      58.0   201.0  17576485.834715575

### Satellites selected from h148 Sandra: 36, 41, 58