#### Performing checks on the calculation of the tracked particle dataset to remove 'Nan' elements from `sat_Mvir` column.

In [4]:
import numpy as np
import pylab
import pynbody
import pandas as pd


import warnings
warnings.filterwarnings("ignore")

from compiler import *
from analysis import *

In [5]:
predischarged, discharged, reaccreted, preheated, heated = read_all_discharged()

> Returning (predischarged, discharged, adv. accreted, preheated, heated) <

In [ ]:
keys = ['h148_13','h148_28','h148_37','h148_45','h148_68','h148_80','h148_283',
        'h148_278','h148_329','h229_20','h229_22','h229_23','h229_27','h229_55',
        'h242_24','h242_41','h242_80','h329_33','h329_137']

In [15]:
discharged[discharged.sat_Mvir==float('nan')]

Empty DataFrame
Columns: [time, pid, rho, temp, mass, coolontime, r, r_per_Rvir, x, y, z, satRvir, a, vx, vy, vz, v, r_rel_host, r_rel_host_per_Rvir, x_rel_host, y_rel_host, z_rel_host, hostRvir, vx_rel_host, vy_rel_host, vz_rel_host, v_rel_host, sat_Xc, sat_Yc, sat_Zc, sat_vx, sat_vy, sat_vz, host_Xc, host_Yc, host_Zc, host_vx, host_vy, host_vz, sat_Mstar, sat_Mgas, host_Mstar, host_Mgas, sat_r_half, sat_r_gas, host_r_half, host_r_gas, in_sat, in_host, in_other_sat, in_IGM, dt, r_gal, host_r_gal, sat_disk, sat_halo, host_disk, host_halo, other_sat, IGM, t, sat_Mvir, angle, hot, key, t_x, sat_Mvir_x, t_y, sat_Mvir_y]
Index: []

[0 rows x 69 columns]

In [44]:
discharged[discharged.key=='h329_33']
# h242_80

,time,pid,rho,temp,mass,coolontime,r,r_per_Rvir,x,y,...,IGM,t,sat_Mvir,angle,hot,key,t_x,sat_Mvir_x,t_y,sat_Mvir_y
30604,9.060013,2852887,0.002021,20043.015625,26519.106126,0.000000,3.487831,0.126625,-1.170929,-0.883683,...,False,NaN,NaN,25.483483,False,h329_33,9.060013,2.054089e+09,9.060013,2.054089e+09
34976,9.383249,3947193,0.003118,16081.027344,26561.359145,0.000000,2.593600,0.091925,1.631038,-1.653249,...,False,NaN,NaN,65.050155,False,h329_33,9.383249,2.031549e+09,9.383249,2.031549e+09
34982,9.383249,5911024,0.007600,13496.604492,26528.001953,0.000000,1.535345,0.054417,0.865674,-1.079791,...,False,NaN,NaN,73.237310,False,h329_33,9.383249,2.031549e+09,9.383249,2.031549e+09
30627,9.060013,5930490,0.003950,16369.414062,26510.997816,0.000000,4.309869,0.156469,1.425351,-2.559454,...,False,NaN,NaN,116.970621,False,h329_33,9.060013,2.054089e+09,9.060013,2.054089e+09
13142,8.090307,5933919,0.028441,12399.273438,26633.758846,7.197226,1.251527,0.042714,-1.237930,-0.175944,...,False,NaN,NaN,97.440841,False,h329_33,8.090307,3.232682e+09,8.090307,3.232682e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39323,9.383249,6628979,0.001709,21003.914062,26610.570287,0.000000,2.218914,0.078645,-1.036233,-1.802731,...,False,NaN,NaN,55.149343,False,h329_33,9.383249,2.031549e+09,9.383249,2.031549e+09
21846,8.413543,6630126,0.063785,11265.299805,26755.941329,8.272644,0.819111,0.027533,-0.748168,-0.128032,...,False,NaN,NaN,53.793614,False,h329_33,8.413543,3.091517e+09,8.413543,3.091517e+09
13105,7.767072,6630131,0.073664,11408.226562,26557.801505,0.000000,1.238168,0.043742,-0.672080,-1.000479,...,False,NaN,NaN,135.597690,False,h329_33,7.767072,3.202585e+09,7.767072,3.202585e+09
34964,9.060013,6630131,0.001204,23144.421875,26557.970752,0.000000,9.890922,0.359088,5.622277,-2.603158,...,False,NaN,NaN,52.192600,False,h329_33,9.060013,2.054089e+09,9.060013,2.054089e+09
17484,8.090307,6630196,0.079972,11086.723633,26645.695937,7.904796,0.840242,0.028677,0.797118,-0.087680,...,False,NaN,NaN,133.845505,False,h329_33,8.090307,3.232682e+09,8.090307,3.232682e+09

In [57]:
discharged.loc[21846]

,time,pid,rho,temp,mass,coolontime,r,r_per_Rvir,x,y,...,IGM,t,sat_Mvir,angle,hot,key,t_x,sat_Mvir_x,t_y,sat_Mvir_y
21846,6.905111,15276570,0.000076,29865.939453,21020.958315,6.445191,16.563140,0.370044,15.294939,1.231485,...,False,6.905111,1.652474e+10,137.252514,False,h148_13,NaN,NaN,NaN,NaN
21846,7.039793,10255732,0.002148,19471.894531,26551.725885,0.000000,3.755299,0.129321,-0.260473,-2.555333,...,False,7.039793,4.319676e+09,145.654823,False,h229_20,NaN,NaN,NaN,NaN
21846,8.413543,9417491,0.002871,19235.591797,27191.885207,8.229192,2.732899,0.091209,-2.664625,-0.212657,...,False,8.413543,3.156630e+09,10.676631,True,h229_55,NaN,NaN,NaN,NaN
21846,8.413543,6630126,0.063785,11265.299805,26755.941329,8.272644,0.819111,0.027533,-0.748168,-0.128032,...,False,NaN,NaN,53.793614,False,h329_33,8.413543,3.091517e+09,8.413543,3.091517e+09

In [33]:
discharged.key

190920    h148_13
246974    h148_13
132506    h148_13
161854    h148_13
190924    h148_13
           ...
39323     h329_33
21846     h329_33
13105     h329_33
34964     h329_33
17484     h329_33
Name: key, Length: 241104, dtype: object