#### Essentially, looking to identify a few more satellite halos to add to analysis.

In [5]:
import pynbody
import pandas as pd
import numpy
import pickle

In [23]:
# full path for elena h329 simulation.
path = '/Users/leoglonz/Desktop/Stellar_Feedback_Analysis/SNeData/timesteps_data/h329.data'

# unpacking all list data into objs and then converting to df.
objs = []
f = open(path, 'rb')
while 1: 
    try: 
        objs.append(pickle.load(f)) 
        
    except EOFError: 
        break 
        
f.close()

df = pd.DataFrame(objs)

In [25]:
df.keys()

Index(['time', 't', 'z', 'a', 'haloid', 'z0haloid', 'mstar', 'mgas', 'mass',
       'Rvir', 'gas_rho', 'gas_temp', 'gas_mass', 'gas_r', 'gas_hi',
       'gas_rho_sphere', 'gas_temp_sphere', 'gas_mass_sphere', 'gas_r_sphere',
       'x', 'y', 'sfr', 'Pram', 'Prest', 'v_halo', 'v_halo1', 'v_env',
       'env_rho', 'ratio', 'h1dist', 'h1dist_kpc', 'h1rvir', 'gasfrac',
       'SNHfrac', 'mHI', 'fHI', 'HIratio', 'gtemp', 'inflow_23', 'outflow_23',
       'inflow_temp_23', 'outflow_temp_23', 'inflow_91', 'outflow_91',
       'inflow_temp_91', 'outflow_temp_91'],
      dtype='object')

In [46]:
# df_sub = df[['haloid','z0haloid', 'mgas']][df['mgas'] > 2e7].sort_values(by='mgas', ascending=False)
df_sub = df[df['mgas'] > 2e7].sort_values(by='mgas', ascending=False)

In [48]:
df_sub['qrate'] = df_sub['outflow_23']/df_sub['inflow_23']

In [53]:
df_sub[df_sub['haloid']==33]

,time,t,z,a,haloid,z0haloid,mstar,mgas,mass,Rvir,...,gtemp,inflow_23,outflow_23,inflow_temp_23,outflow_temp_23,inflow_91,outflow_91,inflow_temp_91,outflow_temp_91,qrate
449,1.948837,1.948837,20.446245,0.233846,33.0,133.0,326078.23427129304,166992425.2986738,1013944063.2662992,9.10,...,14982.926677327854,-0.138462,0.053798,16091.554923,15717.070098,0.0,0.0,NaN,NaN,-0.388537
440,2.154226,2.154226,26.874223,0.250175,33.0,133.0,460488.95528819587,163004477.08588988,1107998162.4696035,9.85,...,16361.067244230995,-0.107514,0.096130,17602.012345,16261.792736,0.0,0.0,NaN,NaN,-0.894111
458,1.625602,1.625602,6.470279,0.207017,33.0,133.0,63766.94701019402,122440174.51447593,828625684.8986666,7.82,...,12550.938014914493,-0.123142,0.074420,14651.442685,13234.747434,0.0,0.0,NaN,NaN,-0.604341
359,3.888249,3.888249,92.887929,0.374092,33.0,133.0,1222600.649955238,72984714.5694486,1255371825.790073,16.04,...,17942.06899950482,-0.018702,0.037321,25000.184272,23287.459430,0.0,0.0,NaN,NaN,-1.995574
350,4.211484,4.211484,95.767408,0.395399,33.0,133.0,1190450.578178199,58058830.96910875,1228842889.5994475,17.12,...,20152.3773422783,-0.013766,0.022898,24685.296632,24799.054805,0.0,0.0,NaN,NaN,-1.663335
341,4.282192,4.282192,95.368088,0.400010,33.0,133.0,1185944.3357994822,55774531.20317306,1223671954.0260835,17.31,...,20112.104767465866,-0.005066,0.025168,25586.813020,24435.873324,0.0,0.0,NaN,NaN,-4.968035